* { box-sizing: border-box; outline-offset: 0; }
html, body { padding: 0; margin: 0; }
html { font-size: 10px; }
body {
  font-family: Ubuntu, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #2f3b52;
  background: #f6f6f6;
}
p, fieldset, input, button {
  border: 0 none;
  padding: 0;
  margin: 0;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
}
ul, li, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

label:hover,
button:hover { cursor: pointer; }
input[type='text']:focus { outline: none; }

.shadow { box-shadow: 0rem 0.7rem 1rem rgba(0,0,0, 0.07); }
.blind {
  position: relative;
  display: inline-block;
  height: 1px;
  width: 1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-break: initial;
  word-wrap: initial;
  overflow: hidden;
  z-index: -1;
}
